.config/github-copilot
.config/Mousepad
.config/Kitware
.config/dconf
.config/discord
.config/github-copilot
.config/go
.config/gtk-3.0
.config/lazygit
.config/nextjs-nodejs
.config/pulse
.config/ristretto
.config/create-next-app-nodejs
.config/vesktop
.config/xarchiver
.config/xfburn
.config/xfce4
.config/mimeapps.list
.config/pavucontrol.ini
.config/Thunar
.oh-my-zsh
